**/node_modules/

.idea/
.vscode/
.DS_Store

logs
*.log
pnpm-debug.log*

.pnpm

*.tgz
.env

**/lib/

# Published action output
/get-changed-files/
/pr-filter/
/send-teams-notification/
/validate-sbom/
/verify-version-change/
/install-internal-package/
/lgtm/
